/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {

        keymap {
                compatible = "zmk,keymap";

                layer_0 {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | SHFT |
//                    | GUI | MO1 | SPC |   | ENT | MO2  | ALT |
                        bindings = <
   &kp  TAB    &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I         &kp O        &kp P        &kp  BSPC
   &kp  LCTRL  &kp A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp K         &kp L        &kp SEMI     &kp  SQT
   &kp  LSHFT  &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp COMMA     &kp DOT      &kp FSLH     &kp RSHFT 
                    &tdl2 &tdl1 &kp SPACE  &kp RET &tdl2 &tdl1
                        >;
                };

                layer_1 {
// -----------------------------------------------------------------------------------------
// |  TAB | PGDN |     |  UP |     | PGUP |   | INS |     |     |     |     | BKSP |
// | CTRL |  ESC | LFT | DWN | RGT | SCRN |   | DEL |     |     |     |     |      |
// | SHFT |  skC | skA | skS | skG |      |   |     | skG | skS | skA | skC | SHFT |
//                     | GUI |     | SPC  |   | ENT |     | ALT |
                        bindings = <
   &kp TAB    &kp PG_DN    &trans       &kp UP       &trans       &kp PG_UP   &kp INS     &kp DEL    &kp CLCK  &kp RALT    &trans     &kp BSPC
   &trans     &kp ESC      &kp LEFT     &kp DOWN     &kp RIGHT    &kp PSCRN   &trans      &trans     &trans    &trans      &trans     &trans
   &trans     &skkS        &skkC        &skkA        &skkG        &trans      &trans      &skkG      &skkA     &skkC       &skkS      &trans
                          	        &trans       &trans       &kp SPACE      &kp RET  &trans   &trans
                        >;
                };

                layer_2 {
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// | CTRL |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  |      |
// | SHFT | skC | skA | skS | skG |     |   |     | skG | skS | skA | skC | SHFT |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp TAB    &kp N1    &kp N2    &kp N3     &kp N4    &kp N5      &kp N6       &kp N7       &kp N8          &kp N9     &kp N0      &kp BSPC
   &trans     &kp EXCL  &kp AT    &kp HASH   &kp DLLR  &kp PRCNT   &kp CARET    &kp AMPS     &kp KP_ASTERISK &kp LPAR   &kp RPAR    &trans
   &trans     &skkS     &skkC     &skkA      &skkG     &trans      &trans       &skkG        &skkA           &skkC      &skkS       &trans
                          	        &trans         &trans       &kp SPACE      &kp RET  &trans   &trans
                        >;
                };

                layer_3 {
// -----------------------------------------------------------------------------------------
// |  TAB |  ~  |  `  |  _  |  -  |     |   |     |  +  |  =  |  \   |  |  | BKSP |
// | CTRL |     |  (  |  [  |  {  |     |   |     |  }  |  ]  |  )   |  :  |   "  |
// | SHFT |     |     |     |     |     |   |     |     |  <  |  >   |  ?  | SHFT |
//                    | GUI |     | SPC |   | ENT |     | OUT |
                        bindings = <
   &kp TAB   &kp TILDE    &kp GRAVE &kp UNDER  &kp MINUS   &trans      &trans     &kp PLUS   &kp EQUAL  &kp BSLH   &kp PIPE   &kp BSPC
   &trans    &trans       &kp LPAR  &kp LBKT   &kp LBRC    &trans      &trans     &kp RBRC   &kp RBKT   &kp RPAR   &kp COLON  &kp DQT  
   &trans    &skkS        &skkC     &skkA      &skkG       &trans      &trans     &skkG      &skkA      &skkC      &skkS      &trans 
                           &trans   &trans   &kp SPACE   &kp RET   &trans    &trans
                        >;
                };

               layer_4 {
// -----------------------------------------------------------------------------------------
// |      |     |     |     |     |     |   |     |      |      |      |      |      |
// |      |     |     |     |     |     |   |BTCLR| BT 0 | BT 1 | BT 2 | BT 3 | BT 4 |
// |      |     |     |     |     |     |   |     |      |      |      |      |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp TAB    &trans       &trans    &trans    &trans    &trans      &out OUT_TOG &trans       &trans          &trans          &trans         &trans
   &trans     &trans       &trans    &trans    &trans    &trans      &bt BT_CLR   &bt BT_SEL 0 &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3   &bt BT_SEL 4
   &trans     &kp F1       &kp F2    &kp F3    &kp F4    &kp F5      &kp F6       &kp F7       &kp F8          &kp F9          &kp F10        &trans
                                   &trans     &trans       &kp SPACE      &kp RET  &trans   &trans
                        >;
                };
        };				

        conditional_layers {
                compatible = "zmk,conditional-layers";
                tri_layer {
                    if-layers = <1 2>;
                    then-layer = <3>;
                };
        };

        combos {
                compatible = "zmk,combos";
                combo_layer4 {
                        timeout-ms = <150>;
                        key-positions = <36 41>;
                        bindings = <&tog 4>;
                };
        };

        behaviors {
                skkC: stickey_keyPress_Control {
                    compatible = "zmk,behavior-tap-dance";
                    #binding-cells = <0>;
                    tapping-term-ms = <200>;
                    bindings = <&sk LCTRL>, <&kp LCTRL>;
                };

                skkS: stickey_keyPress_Shift {
                    compatible = "zmk,behavior-tap-dance";
                    #binding-cells = <0>;
                    tapping-term-ms = <200>;
                    bindings = <&sk LSHFT>, <&kp LSHFT>;
                };

                skkA: stickey_keyPress_Alt {
                    compatible = "zmk,behavior-tap-dance";
                    #binding-cells = <0>;
                    tapping-term-ms = <200>;
                    bindings = <&sk LALT>, <&kp LALT>;
                };

                skkG: stickey_keyPress_GUI {
                    compatible = "zmk,behavior-tap-dance";
                    #binding-cells = <0>;
                    tapping-term-ms = <200>;
                    bindings = <&sk LGUI>, <&kp LGUI>;
                };

                tdl1: tap_dance_layer_1 {
                    compatible = "zmk,behavior-tap-dance";
                    #binding-cells = <0>;
                    tapping-term-ms = <200>;
                    bindings = <&mo 1>, <&tog 1>;
                };

                tdl2: tap_dance_layer_2 {
                    compatible = "zmk,behavior-tap-dance";
                    #binding-cells = <0>;
                    tapping-term-ms = <200>;
                    bindings = <&mo 2>, <&tog 2>;
                };

                //skq: sticky_key_quick_release {
                //        compatible = "zmk,behavior-sticky-key";
                //        #binding-cells = <1>;
                //        bindings = <&kp>;
                //        release-after-ms = <1000>;
                //        quick-release;
                //        ignore-modifiers;
                //};
        };

};
